################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestTaskApp/.vs/TestTaskApp
/TestTaskApp/TestTaskApp/obj
/TestTaskApp/.vs/ProjectEvaluation
/TestTaskApp/DatabaseOne/obj/Debug
/TestTaskApp/TestTaskCore/obj
/TestTaskApp/TestTaskModels/obj
