################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestTaskApp/.vs/TestTaskApp
/TestTaskApp/TestTaskApp/obj
